.navBarMain {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  width: 100%;
  background-color: #333333;
  font-family: "Arial";
  font-size: 13px;
  color: #CCCCCC;
}

.mainLogo {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF7400;
}

.cloudLogo {
  z-index: 2;
  height: 25px;
  width: 75px;
  border: none;
  display: block;
}

.navSearch {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: none;
}

.searchContainer {
  padding:9px;
  width: 435px;
}

.mainButtons {
  display: flex;
}

.navButton {
  padding-left: 30px;
  padding-right: 30px;
  color: inherit;
  text-decoration: none;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
}

.sessionBar {
  display: flex;
  align-items: center;
}

.activeButton {
  background-color: #111111;
  color: #FFFFFF;
}