.sessionModal {
  display:flex;
  width: 1000px;
  height:1000px;
  z-index: 1;
  background-color: rgb(0,0,0);
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255,255,255,0.7);
}

.modalChild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sessionForm {
  font-family: "Arial";
  width: 450px;
  height: 620px;
  border: none;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sessionFormContent {
  padding-left: 25px;
  padding-right: 25px;
}

.sessionFormInput {
  padding-left: 8px;
  width: 380px;
  height: 40px;
  margin: 10px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #9c9c9c;
}

#submitButton {
  background-color: #FF5500;
  margin-bottom: 50px;
}

#fb {
  background-color: #264387;
}

#google {
  background-color: #4285F4;
}

.sessionFormBox {
  color: rgb(255,255,255);
  border-radius: 3px;
  margin: 10px;
  height: 40px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash {
  width: 1000px;
  height: 1000px;
  background-color: hotpink
}

#or {
  margin-left: 10px;
  margin-right: 10px;
}
.orDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.divider {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: rgb(0,0,0);
  margin-left: 10px;
  margin-right: 10px;
}

.disclaimer {
  line-height: 120%;
  font-family: "Lucida Grande";
  color: #999999;
  margin-top: 15px;
  font-size: 12px;
}

.pendingUserBox {
  color: black;
  border: 1px solid black;
}
