@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes dropDown {
  0% {top: -100%}
  50% {top: -100%}
  100% {top: 50%}
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0 }
}

@keyframes pullUp {
  0% {top: 50%; opacity: 1;}
  25% {top: 50%; opacity: 1;}
  50% {top: -100%; opacity: 1;}
  100% {top: -100%; opacity: 1;}
}


.modalContainerOpen {
  animation-name: fadeIn;
  animation-duration: .7s;
}

.modalChildOpen {
  animation-name: dropDown;
  animation-duration: .7s;
}

.modalContainerClose {
  animation-name: fadeOut;
  animation-duration: 1.5s;
}

.modalChildClose {
  animation-name: pullUp;
  animation-duration: 1.5s;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(255,255,255,0.7);
}

.modalChild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sessionForm {
  font-family: "Arial";
  width: 450px;
  height: 620px;
  border: none;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sessionFormContent {
  padding-left: 25px;
  padding-right: 25px;
}

.sessionFormInput {
  padding-left: 8px;
  width: 380px;
  height: 40px;
  margin: 10px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #9c9c9c;
}

.inputError {
  border: 1px solid #FF5500;
}

.errorDiv {
  padding-left: 20px;
  font-size: 12px;
  color: #FF5500;
}

#submitButton {
  background-color: #FF5500;
  margin-bottom: 50px;
}

#fb {
  background-color: #264387;
}

#google {
  background-color: #4285F4;
}

.sessionFormBox {
  color: rgb(255,255,255);
  border-radius: 3px;
  margin: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionFormButton:hover {
  cursor: pointer;
}

#splash {
  width: 1000px;
  height: 1000px;
  background-color: hotpink
}

#or {
  margin-left: 10px;
  margin-right: 10px;
}

.orDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.divider {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: rgb(0,0,0);
  margin-left: 10px;
  margin-right: 10px;
}

.disclaimer {
  line-height: 120%;
  font-family: "Lucida Grande";
  color: #999999;
  margin-top: 15px;
  font-size: 12px;
}

.pendingUserBox {
  color: black;
  border: 1px solid black;
}

.modalX {
  opacity: .7;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
}

.modalX:hover {
  cursor: pointer;
}