.uploadContainer {
  position: relative;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadDetails {
  display: flex;
  flex-direction: column;
}

.fileUploadButton {
  position: relative;
  display: none;
}