.uploadContainer {
  position: absolute;
  left: 50%  ;
  transform: translate(-50%, 100px); 
  width: 800px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
}

.uploadDetails {
  display: flex;
  flex-direction: column;
}

.songSelectButton {
  font-family: "Lucida Grande";
  font-size: 15px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #FF5500;
  border-radius: 3px;
}

.songSelectButton:hover {
  cursor: pointer;
}

.fileUploadButton {
  display: none;
}